<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.slate.min.css">
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/bootstrap-select.min.js"></script>
    <script src="../static/js/i18n/defaults-zh_CN.min.js"></script>


</head>
<body>
<select class="selectpicker" multiple>
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>



</body>
</html>