<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据查询</title>
    <link id="js-theme-css" rel="stylesheet" href="">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="anchor" content="wu song">

    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/cookie.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/nya-bs-select.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>

</head>
<body ng-app="wsAPP">
<!--头部导航-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-grain"></span> 返回数据平台</a>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span
                            class="glyphicon glyphicon-tint"></span> 换肤 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" id="js-theme-choose">
                        <li><a href="javascript:void(0);" data-theme="slate">slate 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Cerulean">Cerulean 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Cyborg">Cyborg 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Cosmo">Cosmo 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Sandstone">Sandstone 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Superhero">Superhero 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="United">Sandstone 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Lumen">Lumen 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Journal">Journal 风格<span>（正在用）</span></a></li>
                        <li><a href="javascript:void(0);" data-theme="Paper">Paper 风格<span>（正在用）</span></a></li>
                    </ul>
                </li>
            </ul>
            <!--登录后个人信息-->
            <ul class="nav navbar-nav navbar-right" id="js-is-login" hidden>
                <li class="dropdown">
                    <a href="#" id="js-nickname" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"></a>
                    <ul class="dropdown-menu">
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                    </ul>
                </li>
            </ul>

            <!--未登录-->
            <div class="navbar-form navbar-right" id="js-not-login">
                <a class="btn btn-primary" data-toggle="modal" data-target="#js-login"><span class="glyphicon glyphicon-user"></span> 登录</a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#js-reg"><span class="glyphicon glyphicon-plus-sign"></span> 注册</a>
            </div>


        </div>
    </div>
</nav>
<!--登录框-->
<div class="modal fade" id="js-login">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <form id="js-login-form" class="" role="form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">邮箱</span>
                            <input type="text" name="email" class="form-control" placeholder="请输入邮箱" datatype="*1-16" required="" autofocus="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">密码</span>
                            <input type="password" name="password" class="form-control" placeholder="请输入密码" required="">
                        </div>
                    </div>
                    <p class="small pull-right">没有账号？<a href="" data-dismiss="modal" data-toggle="modal" data-target="#js-reg">注册</a></p>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="js-login-submit">确认</button>
            </div>

        </div>
    </div>
</div>

<!--注册框-->
<div class="modal fade" id="js-reg">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">注册</h4>
            </div>
            <form id="js-reg-form" class="" role="form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">邮箱</span>
                            <input type="text" name="email" class="form-control" placeholder="下次用邮箱登录" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">密码</span>
                            <input type="password" name="password" class="form-control" placeholder="密码，六位以上" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">确认密码</span>
                            <input type="password" name="re_password" class="form-control" placeholder="请再输入一次密码" required>
                        </div>
                    </div>
                    <p class="small pull-right">已有账号？<a href="" data-dismiss="modal" data-toggle="modal" data-target="#js-login">登录</a></p>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="js-reg-submit">确认</button>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" ng-controller="EditDetail">

    <div class="panel panel-primary">
    <div class="panel-body">
    <form class="form-horizontal">

        <div class="form-group">
            <label for="apkver" class="col-sm-2 control-label">时间:</label>
        <div class="col-sm-10">
            <input class="form_control" id="datetimepicker" value={{packageinfo.publishtime}} data-date-format="yyyy-mm-dd hh:ii" style="position: relative;height: 36px;width: 250px;" ng-model="publishtime">
        </div>
        </div>

        <div class="form-group">
            <label for="filepath" class="col-sm-2 control-label">文件路径:</label>
        <div class="col-sm-10">
        <input class="form-control" id="filepath" type="text" name="filepath" value={{packageinfo.packagepath}} style="position: relative;width: 900px;" ng-model="packagepath">
        </div>
        </div>

        <div class="form-group">
            <label for="apkver" class="col-sm-2 control-label">apk版本号:</label>
        <div class="col-sm-10">
        <input class="form-control" id="apkver" type="text" name="apkver" value={{packageinfo.apkver}} style="position: relative;width: 200px;" ng-model="apkver">
        </div>
        </div>

        <div class="form-group">
            <label for="hostver" class="col-sm-2 control-label">宿主版本号:</label>
        <div class="col-sm-10">
        <input class="form-control" id="hostver" type="text" name="hostver" value={{packageinfo.hostver}} style="position: relative;width: 200px;" ng-model="hostver">
        </div>
        </div>

        <div class="form-group">
            <label for="packagemd5" class="col-sm-2 control-label">安装包md5:</label>
        <div class="col-sm-10">
        <input class="form-control" id="packagemd5" type="text" name="packagemd5" value={{packageinfo.packagemd5}} style="position: relative;width: 300px;" ng-model="packagemd5">
        </div>
        </div>

        <div class="form-group">
            <label for="packagesize" class="col-sm-2 control-label">安装包大小:</label>
        <div class="col-sm-10">
        <input class="form-control" id="packagesize" type="text" name="packagesize" value={{packageinfo.packagesize}} style="position: relative;width: 200px;" ng-model="packagesize">
        </div>
        </div>

        <div class="form-group">
            <label for="channel" class="col-sm-2 control-label">渠道:</label>
        <div class="col-sm-10">
        <input class="form-control" id="channel" type="text" name="channel" value={{packageinfo.channel}} style="position: relative;width: 500px;" ng-model="channel">
        </div>
        </div>

        <div class="form-group">
            <label for="channel" class="col-sm-2 control-label">iidcode:</label>
        <div class="col-sm-10">
        <input class="form-control" id="iidcode" type="text" name="iidcode" value={{packageinfo.iidcode}} style="position: relative;width: 200px;" ng-model="iidcode">
        </div>
        </div>

        <div class="form-group">
            <label for="channel" class="col-sm-2 control-label">flag:</label>
        <div class="col-sm-10">
        <input class="form-control" id="flag" type="text" name="flag" value={{packageinfo.flag}} style="position: relative;width: 200px;" ng-model="flag">
        </div>
        </div>

        <div class="form-group">
            <label for="channel" class="col-sm-2 control-label">备注:</label>
        <div class="col-sm-10">
        <input class="form-control" id="remarks" type="text" name="remarks" value={{packageinfo.remarks}} style="position: relative;width: 500px;" ng-model="remarks">
        </div>
        </div>

        <div class="form-group">
            <label for="channel" class="col-sm-2 control-label">是否为同步的记录:</label>
        <div class="col-sm-10">
        <input class="form-control" id="issync" type="text" name="issync" value={{packageinfo.issync}} style="position: relative;width: 500px;" ng-model="issync">
        </div>
        </div>

        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" style="position: relative;top: 20px;">
        <button type="button"  class="btn-lg btn-success" ng-click="saverecord()">保存</button>
        <button type="button" class="btn-lg btn-danger" style="position: relative;left: 120px;" ng-click="deleterecord(packageinfo.id)">删除该条记录</button>
        </div>
        </div>
    </form>
    </div>
    </div>

</div>
<script src="/static/js/sideBar.js"></script>
<script src="/static/js/productList.js"></script>
<script src="/static/js/indexDataList.js"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/editDetail.js"></script>
<script>
  var explorer = window.navigator.userAgent.toLowerCase();
    var rMsie = /(msie\s|trident\/7)([\w\.]+)/;
    if (rMsie.exec(explorer) != null) {
    }
    $("#copy-success").hide();
    $("#refresh-success").hide();
    $("#make-error").hide();

</script>
</body>
</html>